<!---

</div> d-flex justify-content-center align-items-center flex-grow-1-->


<div class="header d-flex justify-content-around w-100" id="header">
	<div style="width:201px;" class="logo_imagen d-flex justify-content-center align-items-center">
		<img src="./assets/img/logo.png" class="logo" id="logo">
	</div>
	<div class="opciones_menu d-flex justify-content-center align-items-center">
		<div class="arthur pointer" (click)="fn_goTToSection('soluciones')">
			SOLUCIONES
		</div>
		<div class="arthur pointer" (click)="fn_goTToSection('tecnologias')">
			TECNOLOGÍAS
		</div>
		<div class="arthur pointer" (click)="fn_goTToSection('clientes')">
			CLIENTES
		</div>
		<div class="arthur pointer" (click)="fn_goTToSection('contactenos')">
			CONTÁCTENOS
		</div>

	</div>
</div>
<div class="contenedor">
	<div class="logo_small_antes_menu">
			<img src="./assets/img/logo.png" class="logo" id="logo">
	</div>
	<div class="carrusel_fixed image_paralax m-0 p-0" id="slide0"
		style="background-image: url('./assets/img/paper-3249919_1920.jpg');  transform: translate(0%,0)">

		<div class="carrusel_texto sombra">
			Analítica de Texto y Datos
		</div>
	</div>
	<div class="carrusel_fixed image_paralax m-0 p-0" id="slide1"
		style="background-image: url('./assets/img/software.jpeg'); transform: translate(100%,0)">
		<div class="carrusel_texto sombra">
			Soluciones de Software
		</div>
	</div>
	<div class="carrusel_fixed image_paralax m-0 p-0" id="slide2"
		style="background-image: url('./assets/img/financial_2860753_1920.jpg'); transform: translate(100%,0)">
		<div class="carrusel_texto sombra">
			Soluciones de Big Data
		</div>
	</div>
	<div class="carrusel_fixed image_paralax m-0 p-0" id="slide3"
		style="background-image: url('./assets/img/office-3295556_1920.jpg'); transform: translate(100%,0)">
		<div class="carrusel_texto sombra">
			Inteligencia de Negocio
		</div>
	</div>
	<div class="carrusel_fixed image_paralax m-0 p-0" id="slide4"
		style="background-image: url('./assets/img/chatbot.jpeg'); transform: translate(100%,0)">
		<div class="carrusel_texto sombra">
			Asistentes Virtuales
		</div>
	</div>
</div>
	<div class="segunda_seccion ">

		<div class="seccion_productos bg_white" id="soluciones">
			<h2 class="arthur text-center color_titulos_datalab font-weight-bold" style="margin-top: 110px;">
				PRODUCTOS
			</h2>
			<h2 class="arthur text-center color_subtitulo_datalab font-weight-bold my-5">
				Soluciones VOC
			</h2>
			<div class="row no-gutters d-flex justify-content-around">
				<div class="col-12 col-md-3">
								<div class="solucion_image" style="background-image: url('./assets/img/indoors-3368241_1920.jpg');">
			
								</div>
							</div>

				<div class="col-12 col-md-5 wow bounceInUp" >


					<div class="text-justify mx-3 ">
						<div class="mb-2">
							Una solución de Voz del cliente permite monitorear el
							feedback de los clientes a través del análisis continuo
							de los canales de relacionamiento. Dicho análisis
							comprende el procesamiento de fuentes solicitadas
							(como las encuestas) y no solicitadas (como una
							llamada telefónica) así como estructuradas y no
							estructuradas.
						</div>
						<div class="mb-2">
							Esta solución permite describir a los clientes de una
							organización desde múltiples perspectivas,
							obteniendo sus emociones, sentimientos,
							experiencias críticas y necesidades frecuentes. De
							este modo, la organización puede centrarse en tomar
							decisiones en favor del centro de su modelo de
							negocio: el cliente.
						</div>

						<div class="mb-2">
							De igual forma sirve de retroalimentación a los
							procesos de la organización, así como la creación de
							planes de mejora que contribuyan al mejoramiento
							continuo. Gracias al monitoreo constante, se
							convierte en la aliada estratégica para la medición del
							impacto de las iniciativas de experiencia del cliente y
							promueve la escucha organizacional.
						</div>

					</div>


					<h4 class="mx-3 subtitulos_datalab_gris text-center my-3">Productos</h4>

					<div class="text-justify mx-3 wow bounceInDown">
						<div class="row">
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-users color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Modelo del programa de Voz del Cliente para la organización.
								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-chart-bar color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Aplicación de monitoreo de la experiencia del cliente.
								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-cogs color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Auditoría sobre los procesos pertinentes.
								</div>
							</div>

							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-user-shield color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Sensibilización a los actores de los procesos a través de los incidentes
									críticos.
								</div>
							</div>

						</div>

					</div>
				</div>





			</div>
			<!-- asistentes virtuales-->
			<hr>


			<h2 class="arthur text-center color_subtitulo_datalab font-weight-bold my-5 wow bounceInUp">
				Asistentes Virtuales
			</h2>
			<div class="row no-gutters d-flex justify-content-center">


				<div class="col-12 col-md-5 wow bounceInRight">





					<div class="text-justify mx-3">
						<div class="mb-2">
							Un asistente virtual es un programa informático a
							través del cual, es posible obtener información o llevar
							a cabo alguna acción, mediante una conversación que
							simula la interacción con otro ser humano. El
							asistente o ChatBot (como comúnmente se les
							conoce) incorpora sistemas de inteligencia artificial,
							por tanto, tendrá la posibilidad de aprender sobre
							vocabulario, expresiones, gustos y preferencias con el
							paso del tiempo.
						</div>
						<div class="mb-2">
							Esta solución se orienta principalmente hacia la
							atención al cliente, permitiendo a los usuarios tener
							respuestas rápidas y oportunas a sus necesidades
							24/7 y desde la comodidad de su teléfono móvil.
							Usualmente, se desarrollan para responder a las
							preguntas frecuentes identificadas por la
							organización, proporcionar un canal de comunicación
							para obtener feedback e incluso permite la realización
							de trámites automatizados.
						</div>

						<div class="mb-2">

							Los asistentes virtuales, a diferencia de las
							aplicaciones móviles, no se descargan al teléfono, no
							es necesario actualizarlos y no ocupan espacio en la
							memoria; ya que se usan a través de los sistemas de
							mensajería convencionales: Whatsapp, Facebook
							Messenger, Telegram, Skype, Slack, entre otras.

						</div>

					</div>


					<h4 class="mx-3 subtitulos_datalab_gris text-center my-3">Productos</h4>

					<div class="text-justify mx-3">
						<div class="row d-flex justify-content-around  wow bounceInUp">
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item sombras_naranjas">
									<i class="fas fa-robot color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Asistente Virtual (Chatbot) accedido desde:
									<div>
										<i class="fas fa-laptop color_titulos_datalab mr-2"></i> Página web
									</div>
									<div> Redes Sociales:</div>
									<div><i class="fab  fa-whatsapp color_titulos_datalab mr-2"></i> WhatsApp, <i
											class="fab fa-facebook-square color_titulos_datalab mr-2"></i>Facebook
									</div>
									<div> <i class="fab facebook-messenger color_titulos_datalab mr-2"></i>
										Messenger, <i class="fab fa-telegram color_titulos_datalab mr-2"></i>Telegram,
										<i class="fab fa-skype color_titulos_datalab mr-2"></i>Skype, <i
											class="fab fa-slack color_titulos_datalab mr-2"> </i>Slack
									</div>



								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-city color_titulos_datalab  fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Plataforma de integración con los Sistemas de
									Información Empresariales

								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-chart-line color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Plataforma de monitoreo

								</div>
							</div>



						</div>

					</div>
				</div>

				<div class="col-12 col-md-3 wow bounceInLeft">
					<div class="solucion_image" style="background-image: url('./assets/img/chatbot-3589528_1920.jpg');">

					</div>
				</div>



			</div>


			<!-- comunicación bidireccional-->
			<hr>


			<h2 class="arthur text-center color_subtitulo_datalab font-weight-bold my-5 wow bounceInUp">
				Comunicación bidireccional
			</h2>
			<div class="row no-gutters d-flex justify-content-center">



				<div class="col-12 col-md-3 wow bounceInLeft">
					<div class="solucion_image" style="background-image: url('./assets/img/texting-1490691_1920.jpg');">

					</div>
				</div>

				<div class="col-12 col-md-5 wow bounceInRight">





					<div class="text-justify mx-3">
						<div class="mb-2">
							Establecer una comunicación bidireccional,
							permanente y automatizada con los clientes, hace
							parte de las necesidades de las organizaciones para
							mejorar la experiencia de sus usuarios en el
							relacionamiento con su marca.
						</div>
						<div class="mb-2">
							Éste es el objetivo del
							sistema de Difusión de Información, un programa
							informático donde se le brida información de primera
							mano a los clientes vinculados con la compañía. Esta
							solución busca disminuir la cantidad de llamadas a
							las líneas de atención y demás canales habilitados,
							tomando la iniciativa para informar al cliente antes
							de que éste lo requiera y generando un canal de
							comunicación inmediato y automatizado.
						</div>

						<div class="mb-2">
							La
							solución de Difusión está en la capacidad de
							conectarse a los sistemas de información de la
							organización, para obtener en línea los datos
							necesarios que se van a informar a los clientes a
							través de mensajería SMS y correo electrónico.

						</div>

					</div>


					<h4 class="mx-3 subtitulos_datalab_gris text-center my-3">Productos</h4>

					<div class="text-justify mx-3">
						<div class="row">

							<div class="col-12 d-flex justify-content-center align-items-center flex-column">
								<div class="mb-2">
									Sistema de difusión de información vía:
								</div>

								<div class="row">
									<div class="col-6">
										<div class="circulo_item">
											<i class="fas fa-sms color_subtitulo_datalab  fa-3x"></i>
										</div>
										<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
											SMS

										</div>
									</div>
									<div class="col-6">
										<div class="col-6 d-flex justify-content-center align-items-center flex-column">
											<div class="circulo_item">
												<i class="fas fa-envelope color_subtitulo_datalab fa-3x"></i>
											</div>
											<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
												Correo electrónico

											</div>
										</div>
									</div>
								</div>

							</div>




						</div>
						<div class="row">

							<div class="col-12 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-chart-line color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Plataforma de Monitoreo

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-3 wow bounceInLeft">
					<div class="solucion_image" style="background-image: url('./assets/img/comunicacion.png');">

					</div>
				</div>


			</div>

			<!-- business intelligence-->
			<hr>
			<h2 class="arthur text-center color_subtitulo_datalab font-weight-bold my-5 wow bounceInUp">
				Soluciones de Business Intelligence
			</h2>
			<div class="row no-gutters d-flex justify-content-center">

				<div class="col-12 col-md-3 wow bounceInRight">



					<div class="text-justify mx-3">
						<div class="mb-2">
							Un sistema de información normalmente cuenta con una
							gran cantidad de datos, registros, transacciones,
							reportes, entre otros; que permiten dar cuenta del
							estado de la organización.
						</div>
						<div class="mb-2">
							No obstante, al poner la mirada
							en las fuentes de información de una empresa, surgen
							algunas preguntas: ¿Cómo aprovechar al máximo lo
							contenido en las bases de datos? ¿Cómo analizar a fondo
							dicha información?, ¿Cómo hacer un uso efectivo del
							recurso humano a partir de la información de la
							compañía? ¿Cómo aumentar la productividad? ¿Cómo
							aplicar los métodos estadísticos más avanzados y
							predecir el movimiento del negocio para obtener los
							mejores resultados?; éstos y muchos más interrogantes
							tienen la misma respuesta: Inteligencia de
							Negocios.
						</div>

						<div class="mb-2">
							Inteligencia de Negocios o Business
							Intelligence, consiste en plasmar el conocimiento de las
							personas en una herramienta de alta calidad,
							rendimiento y efectividad para la toma de decisiones
							orientado a los usuarios adecuados en el momento
							adecuado.



						</div>

					</div>



				</div>
				<div class="col-12 col-md-3 wow bounceInLeft">

					<div class="solucion_image" style="background-image: url('./assets/img/bigdata.jpeg');">

					</div>
				</div>
				<div class="col-12 col-md-3 wow bounceInLeft">
					<h4 class="mx-3 subtitulos_datalab_gris text-center my-3">Productos</h4>

					<div class="text-justify mx-3">
						<div class="row d-flex justify-content-around">
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item sombras_naranjas">
									<i class="fas fa-tachometer-alt color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Tableros de control para el monitoreo y auditoría de
									procesos




								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-walking color_titulos_datalab  fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Story Telling

								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-chart-pie color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Análisis e interpretación de resultados

								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-file-contract color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Informes de tipo estratégico, táctico y operativos

								</div>
							</div>


						</div>

					</div>

				</div>



			</div>



			<!-- data analytics-->
			<hr>
			<h2 class="arthur text-center color_subtitulo_datalab font-weight-bold my-5 wow bounceInUp">
				Soluciones de Data
				Analytics
			</h2>
			<div class="row no-gutters d-flex justify-content-center">

				<div class="col-12 col-md-5 wow bounceInRight">



					<div class="text-justify mx-3">
						<div class="mb-2">
							Tomar decisiones siempre ha sido un proceso complejo
							porque la subjetividad, la intuición, o el conocimiento del
							negocio no necesariamente está conectado con los patrones
							de comportamiento de los clientes.
						</div>
						<div class="mb-2">
							Las soluciones de Data Analytics permiten agilizar y
							reaccionar correcta y ágilmente ante los cambios y retos del
							mercado actual. Es bien conocido que mantener un cliente
							es cinco veces más económico que generar uno nuevo, por
							lo que generar estrategias que creen sentido de pertenencia
							con el cliente, que lo fidelicen con la marca, que su atención
							sea mucho más personalizada y efectiva, que los riesgos que
							se asumen al realizar un negocio (de cualquier tipo) con un
							cliente sean identificados de forma temprana y puedan ser
							mitigados; es fundamental para mantenerse a la vanguardia
							en un mundo altamente competido como el de hoy.
						</div>

						<div class="mb-2">
							Una
							solución de Data Analytics orientada al marketing, permite
							que la organización disponga de información de alto valor,
							que normalmente no obtendría de los sistemas
							convencionales de reporte; a través de herramientas que le
							dan al área estratégica, los elementos adecuados para
							argumentar sus decisiones en favor de la compañía.




						</div>

					</div>

					<h4 class="mx-3 subtitulos_datalab_gris text-center my-3">Productos</h4>

					<div class="text-justify mx-3">

						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Perfilamiento de Clientes
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Segmentación de Clientes y R.F.M

						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Predicción de acciones de cliente
							Compra o Abandono
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i>Modelos de Scoring
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i>Regresión Logística y Árboles de
							Decisión
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Valor Fututo de los Clientes
							(C.L.V)
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Riesgo de irregularidad
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Ventas en convenio
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Recomendaciones

						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Venta cruzada
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Market Basket
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> UpSale
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Análisis de precios
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Retanqueo para usuarios prepago
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Análisis de tendencias y
							comportamiento para redes
							inteligentes

						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i>Análisis sentimental
						</div>
						<div>
							<i class="fas fa-check mr-2" style="color:green;"></i> Análisis cognitivo (rostro,
							emoción,
							identificación de
							elementos en imágenes y texto

						</div>

					</div>

				</div>
				<div class="col-12 col-md-3 wow bounceInLeft">

					<div class="solucion_image" style="background-image: url('./assets/img/bigdata.jpeg');">

					</div>
				</div>



			</div>

			<!-- soluciones text analytics-->
			<hr>


			<h2 class="arthur text-center color_subtitulo_datalab font-weight-bold my-5 wow bounceInUp">
				Soluciones de
				Text Analytics
			</h2>
			<div class="row no-gutters d-flex justify-content-center">
				<div class="col-12 col-md-3 wow bounceInLeft">
					<div class="solucion_image" style="background-image: url('./assets/img/analiticatexto.jpg');">

					</div>
				</div>

				<div class="col-12 col-md-5 wow bounceInRight">



					<div class="text-justify mx-3">
						<div class="mb-2">

							En la actualidad, se estima que el 80% de la
							información relevante para una empresa viene de
							algún tipo de datos no estructurados, los cuales
							están formados, en gran parte, por texto, ya sea en
							e-mails, informes e, incluso, artículos en las redes
							sociales.
						</div>
						<div class="mb-2">
							Esta solución, permite analizar lo que dicen sus
							clientes y empleados en distintos contextos,
							interpretarlo en el contexto de los objetivos
							empresariales y actuar para mejorar las
							experiencias de los clientes, la lealtad y los ingresos
							de la organización. A través de la identificación
							automática de palabras, frases, categorías y temas
							de los textos, se revelan tendencias y áreas de
							oportunidad o preocupación.
						</div>

						<div class="mb-2">
							Text Analytics puede ayudar a su organización a
							descubrir información útil con base a las
							interacciones de los clientes brindándole las
							herramientas suficientes para analizar, reportar y
							tomar acción en cada interacción.
						</div>

					</div>


					<h4 class="mx-3 subtitulos_datalab_gris text-center my-3">Productos</h4>

					<div class="text-justify mx-3">
						<div class="row">
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="far fa-smile-wink color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Análisis de emociones de los clientes.
								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-plus-square color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Análisis de sentimientos de los clientes.
								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-font color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Categorización de textos.
								</div>
							</div>

							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-quote-right color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Sumarización de textos.
								</div>
							</div>

						</div>

					</div>
				</div>





			</div>


			<!-- Soluciones de software-->
			<hr>
			<h2 class="arthur text-center color_subtitulo_datalab font-weight-bold my-5 wow bounceInUp">
				Soluciones de software
			</h2>
			<div class="row no-gutters d-flex justify-content-center">

				<div class="col-12 col-md-3 wow bounceInRight d-flex flex-center inherit">




					<div class="text-justify mx-3">
						<div class="mb-2">
							La transformación en el tratamiento de la
							información y la evolución digital de los procesos
							empresariales, ha generado la necesidad
							de desarrollar plataformas accesibles, orientadas a
							satisfacer las exigencias de los mercados.
						</div>
						<div class="mb-2">
							DataLab ofrece la posibilidad de crear
							herramientas que faciliten, optimicen y beneficien
							el crecimiento exponencial de su organización.
						</div>

						<div class="mb-2">
							Al diseñar, implementar y monitorear
							la implantación de soluciones a medida, se
							garantiza que la adopción de dichas plataformas,
							sea más ágil y eficiente dentro de la organización y
							el cumplimiento de los objetivos institucionales.



						</div>

					</div>



				</div>
				<div class="col-12 col-md-3 wow bounceInLeft">

					<div class="solucion_image" style="background-image: url('./assets/img/web-1738168_1920.jpg');">

					</div>
				</div>
				<div class="col-12 col-md-3 wow bounceInLeft">
					<h4 class="mx-3 subtitulos_datalab_gris text-center my-3">Productos</h4>

					<div class="text-justify mx-3">
						<div class="row d-flex justify-content-around">
							<div class="col-4 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item sombras_naranjas">
									<i class="fas fa-laptop-code color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Desarrollo de software a la medida
								</div>
							</div>
							<div class="col-4 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-file-code color_subtitulo_datalab  fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Manual de usuario y manual de
									desarrollador.

								</div>
							</div>
							<div class="col-4 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-user-plus color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Capacitación y creación de usuarios.

								</div>
							</div>
							<div class="col-4 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-tools color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Personalización de la herramienta de
									acuerdo a las necesidades.

								</div>
							</div>
							<div class="col-4 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-toolbox color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Soporte y mantenimiento de la solución.

								</div>
							</div>

							<div class="col-4 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-user-cog color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Integración de tecnologías de punta
									emergentes.


								</div>
							</div>
							<div class="col-4 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-globe color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Plataformas accesibles desde cualquier
									lugar y en cualquier momento.


								</div>
							</div>

							<div class="col-4 d-flex justify-content-center align-items-center flex-column">
								<div class="circulo_item">
									<i class="fas fa-shield-alt color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Intercambio de datos e información bajo
									estándares de privacidad y seguridad.



								</div>
							</div>

						</div>

					</div>

				</div>



			</div>


			<!-- Soluciones de Big Data-->
			<hr>
			<h2 class="arthur text-center color_subtitulo_datalab font-weight-bold my-5 wow bounceInUp">
				Soluciones de Big Data
			</h2>
			<div class="row no-gutters d-flex justify-content-center">

				<div class="col-12 col-md-3 wow bounceInLeft">

					<div class="text-justify mx-3">
						<div class="mb-2">
							Las soluciones de negocio de datos abarcan una
							amplia gama de necesidades de los clientes,
							incluidas analíticas empresariales, experiencia del
							cliente, datos rápidos y soluciones en la nube para
							permitir la innovación, aumentar la eficiencia
							operativa y simplificar los procesos de TI.
						</div>
						<div class="mb-2">
							De esta manera, se brinda una solución a su
							organización al contar con herramientas que
							optimicen el almacenamiento, consulta y gestión
							oportuna de múltiples fuentes y tipos de datos.
						</div>

						<div class="mb-2">

							Para lograrlo, nuestros expertos analizan, modelan y
							construyen soluciones de Big Data que permiten la
							integración en Bodegas de Datos que satisfagan las
							necesidades de información de la organización, bajo
							los principios de volumen, velocidad, variedad,
							veracidad, viabilidad, visualización y valor de los
							datos; todo esto, enmarcado bajo políticas de
							seguridad que avalen la integridad de la solución.



						</div>

					</div>

				</div>
				<div class="col-12 col-md-3 wow bounceInLeft">
					<h4 class="mx-3 subtitulos_datalab_gris text-center my-3">Productos</h4>

					<div class="text-justify mx-3">
						<div class="row d-flex justify-content-around">
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="sombras_naranjas">
									<i class="fas fa-database color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Diseño conceptual, diseño lógico y diseño
									físico de la bodega de datos.

								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-chart-area color_titulos_datalab  fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Análisis, modelamiento y construcción de
									Datawarehouse de acuerdo a las necesidades
									de la organización.

								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-file-signature color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Integración de las fuentes de datos
									existentes.

								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-users-cog color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Facilidad en la administración de usuarios. en
									la gestión de base de datos.


								</div>
							</div>




						</div>

					</div>

				</div>



			</div>

			<!--blockahin-->
			<hr>

			<h2 class="arthur text-center color_subtitulo_datalab font-weight-bold my-5 wow bounceInUp">
				Blockchain
			</h2>
			<div class="row no-gutters d-flex justify-content-center">
				<div class="col-12 col-md-3 wow bounceInLeft">
					<div class="solucion_image"
						style="background-image: url('./assets/img/blockchain-3019121_960_720.png');">

					</div>
				</div>

				<div class="col-12 col-md-5 wow bounceInRight">



					<div class="text-justify mx-3">
						<div class="mb-2">
							La tecnología BlockChain ha traído consigo un nuevo
							conjunto de ideas y modelos de negocios, que las
							empresas están aprovechando cada vez más.
						</div>
						<div class="mb-2">
							Su uso ha sido aplicado en diferentes sectores para
							mejorar la calidad, eficiencia, transparencia y
							seguridad de sus productos.
						</div>

						<div class="mb-2">
							De esta manera
							BlockChain representa el futuro financiero y de la
							gestión documental, mejorando la confianza de los
							usuarios y potenciando del desarrollo tecnológico.
						</div>

					</div>


					<h4 class="mx-3 subtitulos_datalab_gris text-center my-3">Productos</h4>

					<div class="text-justify mx-3">
						<div class="row">
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-cubes color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Consultoría BlockChain.

								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-file-contract color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Smart Contracts.
								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-layer-group color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Desarrollo de POC.
								</div>
							</div>

							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-tablet-alt color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Desarrollo DApp.
								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-server color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Sistema de Almacenamiento.
								</div>
							</div>

							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-signal color_subtitulo_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Trazabilidad.
								</div>
							</div>
						</div>

					</div>
				</div>





			</div>




			<!-- data analytics-->
			<hr>
			<h2 class="arthur text-center color_subtitulo_datalab font-weight-bold my-5 wow bounceInUp">
				Capacitación
			</h2>
			<div class="row no-gutters d-flex justify-content-around">

				<div class="col-12 col-md-5 wow bounceInRight">



					<div class="text-justify mx-3">
						<div class="mb-2">

							Ayudamos a su organización a prepararse para
							un cambio tecnológico permanente, brindando
							formación seleccionada de cursos técnicos
							para fortalecer su propia capacidad de
							desarrollar su experiencia interna y satisfacer
							las necesidades de desarrollo y aprendizaje de
							los empleados, al diseñar, ofrecer y ejecutar
							programas de formación pertinente para las
							empresas.
						</div>
						<div class="mb-2">
							Para ello DataLab cuenta con personal
							competente, capacitado, profesional y
							comprometido con la eficacia de los procesos y
							los recursos que satisfagan las necesidades de
							las partes interesadas.

						</div>


					</div>

					<h4 class="mx-3 subtitulos_datalab_gris text-center my-3">Productos</h4>


					<div class="text-justify mx-3">
						<div class="row">
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="far fa-chart-bar color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Formación especializada en herramientas
									de visualización:
									QlikSense, Power BI y D3.

								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-code color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Formación especializada en desarrollo de
									software.
								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-terminal color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Formación especializada en herramientas
									para análisis de datos:
									R y Python

								</div>
							</div>

							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-chart-line color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Interpretación y análisis de datos.
								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-center flex-column">
								<div class="">
									<i class="fas fa-landmark color_titulos_datalab fa-3x"></i>
								</div>
								<div class="text-center texto-pequeno my-2 subtitulos_datalab_gris">
									Business Intelligence.
								</div>
							</div>


						</div>

					</div>



				</div>
				<div class="col-12 col-md-3 wow bounceInLeft">

					<div class="solucion_image" style="background-image: url('./assets/img/light-828547_1920.jpg');">

					</div>
				</div>



			</div>



		</div>


		<!-- tecnologioas -->
		<div class="seccion_tecnologias bg_white wow bounceInUp" id="tecnologias">
			<h1 class="arthur text-center color_subtitulo_datalab font-weight-bold my-5">
				TECNOLOGÍAS
			</h1>
			<div class="row no-gutters" class="d-flex flex-center">
				<div class="col-10">
					<div class="row no-gutters">

						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/amazon.png" class="imagen_tecnologia" />
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/ibm.png" class="imagen_tecnologia" />
							</div>
						</div>


						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/r.png" class="imagen_tecnologia" />
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/sql_server.png" class="imagen_tecnologia" />
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/qlik.jpg" class="imagen_tecnologia" />
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/pentaho.png" class="imagen_tecnologia" />
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/python.png" class="imagen_tecnologia" />
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/nodejs.png" class="imagen_tecnologia" />
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/postgresql.png" class="imagen_tecnologia" />
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/google.png" class="imagen_tecnologia" />
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/heroku.png" class="imagen_tecnologia" />
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/angular.png" class="imagen_tecnologia" />
							</div>
						</div>

						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/d3.png" class="imagen_tecnologia" />
							</div>
						</div>

						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/ionic-225990.png" class="imagen_tecnologia" />
							</div>
						</div>

						<div class="col-6 col-md-4 col-lg-4  imagen_tecnologias">
							<div class="imagen_container sombra wow bounceInUp ">
								<img src="./assets/img/nodejs.png" class="imagen_tecnologia" />
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>

		<div class="seccion_clientes bg_white wow bounceInUp" id="clientes">
			<h2 class="arthur text-center color_titulos_datalab font-weight-bold my-5">
				CLIENTES
			</h2>
			<div class="container_swiper w-100 d-flex flex-center">
				<div #swiperWrapper class="swiper-container position-relative d-flex flex-center" [swiper]="config"
					(indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')"
					(swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
					<div class="swiper-wrapper m-0 p-0">
						<div class="swiper-slide center_contenido_slide m-0 p-0">
							<div class="clientes  d-flex flex-center">
								<img src="./assets/img/logo_electrohuila.png" class="imagen_cliente">
							</div>
						</div>
						<div class="swiper-slide center_contenido_slide m-0 p-0">
							<div class="clientes  d-flex flex-center">
								<img src="./assets/img/checlogo.jpg" class="imagen_cliente">
							</div>
						</div>
						<div class="swiper-slide center_contenido_slide m-0 p-0">
							<div class="clientes  d-flex flex-center">
								<img src="./assets/img/logoum.png" class="imagen_cliente">
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>


		</div>


		<div class="seccion_contacto bg_cliente wow bounceInUp" id="contactenos">
			<h2 class="arthur text-center color_titulos_datalab font-weight-bold my-3">
				CONTÁCTENOS
			</h2>


			<div class="row bg_azul_datalab">
				<div class="col-12 col-md-3">
					<div class="d-flex flex-center flex-column card sombra mx-4 my-3 p-4">
						<div>
							<i class="fas fa-map-marker-alt color_subtitulo_datalab fa-3x mb-4"></i>
						</div>
						<div class="nunito text-center" style="font-size: 18px;">
							Universidad de Manizales (Manizales - Caldas)
						</div>
					</div>
				</div>

				<div class="col-12 col-md-3">
					<div class="d-flex flex-center flex-column card sombra mx-4 my-3 p-4">
						<div>
							<i class="far fa-envelope color_subtitulo_datalab fa-3x mb-4"></i>
						</div>
						<div class="nunito" style="font-size: 18px;">
							contacto@datalabconsulting.com.co
						</div>
					</div>
				</div>

				<div class="col-12 col-md-3">
					<div class="d-flex flex-center flex-column card sombra mx-4 my-3 p-4">
						<div>
							<i class="fas fa-phone color_subtitulo_datalab fa-3x mb-4"></i>
						</div>
						<div class="nunito" style="font-size: 18px;">
							+57 310 4075721
						</div>
					</div>
				</div>
				<div class="col-12 col-md-3">
					<div class="d-flex flex-center flex-column card sombra mx-4 my-3 p-4">
						<div>
							<i class="fas fa-laptop color_subtitulo_datalab fa-3x mb-4"></i>
						</div>
						<div class="nunito" style="font-size: 18px;">
							www.datalabconsulting.com.co
						</div>
					</div>
				</div>

			</div>



		</div>
		<div class="d-flex justify-content-center align-items-center" style="height: 400px;">
			<img src="./assets/img/logo.png" style="max-height:100%; max-width: 100%;" id="logo">
		</div>
	</div>



